body {
    background-color: rgb(80, 105, 85);
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: 0.2s;
    /* font-family: 'Noto Serif Thai', serif; */
    font-family: 'Bree Serif', serif;
}

header {
    background-color: rgb(91, 116, 50);
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}
h1 {
    margin-left: 5%;
    font-size: 3em;
}

#topbar {
    display: flex;
    align-items: center;
}


#options {
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#something {
    background-color: rgb(255, 69, 0);
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#placeholder {
    background-color: grey;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.card {
    height: 250px;
    width: 200px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    background-color: lightgrey;
    transition: 0.2s;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr;
    grid-template-areas: 
       "card-title"
       "card-img"
        "card-text";
    justify-content: center;
    
}

.shapeshift {
    position: fixed;
    top: 80px;
    left: 20%;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    border-style: solid;
    border-color:  rgb(0, 0, 0);
    border-width: 15px;
    background-color: rgb(80, 0, 80);
    transition: 0.2s;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr;
    grid-template-areas: 
       "card-title"
       "card-img"
        "card-text";
    justify-content: center;
    font-size: 2em;
    animation-duration: 1s;
  }

.rival-card {
    position: fixed;
    top: 50px;
    left: 40%;
    height: 500px;
    width: 400px;
    border-radius: 20px;
    border-style: solid;
    border-color:  rgb(0, 0, 0);
    border-width: 15px;
    background-color: lightgrey;
    transition: 0.2s;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 5fr;
    grid-template-areas: 
       "card-title"
       "card-img"
        "card-text";
    justify-content: center;
    font-size: 2em;
    animation-duration: 1s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
      border-color: rgb(255, 0, 0);
      background-color: rgb(252, 0, 0);
    
      filter: blur(1.5rem);
    }
  
    to {
      margin-left: 0%;
      width: 400px;
      border-color: black;
      
    }
  }



.card:hover {
    border-color: goldenrod;
    height: 300px;
    width: 240px;
  font-size: 1.3em;
}

.card-img {
    display: flex;
    background-color: darkgrey;
    height: 1fr;
    width: 1fr;
    grid-area: card-img;
    justify-content: center;
  
}



.card-image {
    height: 100%;
    width: 70%;
    object-fit: contain;
    
}

.card-heading{
  grid-area: card-title;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1em;
}

.card-text{
    height: 100%;
  margin-top: 0%;
  grid-area: card-text;
}


#gameboard {
    display: flex;
    justify-content: space-evenly;
    /* align-items: flex-end; */
    height: 100%;
    transition: 0.2s;
    grid-area: gameboard;
}

progress {
    text-align: left;
    position: fixed;
    transform: rotate(-90deg);
    margin-top: 80px;
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 50px;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 5px;
    

}
progress::-moz-progress-bar { background: rgb(118, 85, 24); }
progress::-webkit-progress-value { background: rgb(118, 85, 24); }
progress { color: rgb(118, 85, 24); }

main {
    display:grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: "user-score gameboard rivalscore";
    gap: 5%;
    margin-top: 20%;
    margin-bottom: 5%;
}

.score{
    font-family: 'Bree Serif', serif;
    font-weight: 300;
    position: fixed;
    text-align: left;
    
}

.rival-card .card-img {
    outline: 100px solid rgba(00, 0, 00, 0.0) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
}

.morrigan {
    background-color: rgb(80, 0, 80);
    color: gold;
}



.croghan {
    background-color: rgb(95, 29, 12);
    color: gold;
}



.chulainn {
    background-color: rgb(3, 80, 0);
    color: gold;
}



.jack {
    background-color: rgb(180, 78, 10);
    color: gold;
}

/*

.morrigan .card-img {
    outline: 100px solid rgba(80, 0, 80, 0.3) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
}

.croghan .card-img {
    outline: 100px solid rgba(95, 29, 12, 0.3) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
}

.chulainn .card-img {
    outline: 100px solid rgba(3, 80, 0, 0.3) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
}

.jack .card-img {
    outline: 100px solid rgba(180, 78, 10, 0.3) !important;
    outline-offset: -100px;
    overflow: hidden;
    position: relative;
}

*/

#user-score-bar {
    position: fixed;
    left: -10%;
}



#rival-score-bar{
    right: -10%;
}

.rival-score {
    position: fixed;
    right: 30px;
}

@media screen and (min-width: 1100px) {
    #user-score-bar {
        position: fixed;
        left: -5%;
        
    }

    #rival-score-bar{
        right: -3%;
    }
}

.screen {
    position: fixed;
    z-index: 5;
    -webkit-text-stroke: 2px black;
    color: white;
    text-shadow:
        3px 3px 0 #000,
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
    top: 20%;
    left: 30%;
    width: 600px;
    height: 400px;
    padding: auto;
    color:rgb(255, 255, 255);
    font-size: 4em;
    animation-duration: 1s;
    animation-name: slideup;
    border-radius: 25px;
  }
  
  @keyframes slideup {
    from {
      margin-top: 100%;
      height: 300%;
      border-color: rgb(255, 0, 0);
      color: rgb(255, 0, 0);
      filter: blur(1.5rem);
    }
  
    to {
      margin-top: 0%;
      border-color: black;
    }
  }

.splash {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    position: fixed;
    background-color: rgb(80, 105, 85);
    top: 13%;
    width: 100%;
    height: 700px;
    z-index: 8;
    
}

.char-select{
    margin: auto;
    line-height: 200px;
    width:46%;
    height:46%;
    color: gold;
    font-size: 3em; 
    border-top-style: inset;
    border-left-style: inset;
    border-right-style: inset;
    border-bottom-style: inset;
    border-width: 20px;
    padding-left: -25px;
    padding-top: -25px;
    border-color:rgba(70, 70, 70, 0.3);
    transition: 0.2s;

}

.char-select:hover, .buttons:hover {
        filter: brightness(120%);


}




#morrigan-div {
    background-color: rgb(80, 0, 80);
}

#croghan-div {
    background-color: rgb(95, 29, 12);
}

#chulainn-div {
    background-color: rgb(3, 80, 0);
}

#jack-div {
    background-color: rgb(180, 78, 10);
}
/*
@media screen and (max-width: 1127px) {
    .splash {
      flex-wrap: nowrap;
    }
  }
  */

  .statboard {
      position: fixed;
      font-size: 2em;
      text-align: left;
      width: 33%;
      top: 12.5%;
  }

  #user-stats {
      margin-left: 10px;
  }

  #rival-stats {
      right: -5%;
  }

  #logo {
      height: 80px;
  }

  #aspect {
      font-size: 2em;
  }


  .shifted {
    opacity: 1; transition: all 0.5s;
  }

  .fade {
    opacity: 0;
  }

  .card-cost {
    background-color: black;
    border-radius: 50%;
    height: 1.2em;
    width: 1.2em;
    color: white;
    font-family:'Times New Roman', Times, serif
  }